<section id="catalog">
    <h1>All Books</h1>
    <div class="band">

        <!-- If there are posts for book in the database display each of them -->
        {{#each books}}
        <div class="flip flip-vertical">
            <div class="front">
                <img src={{imageUrl}} alt="Dune">
            </div>
            <div class="back">
                <h1>{{title}}</h1>
                <h2>Genre: {{genre}}</h2>
                <p>Description: {{description}}</p>
                <a href="/books/{{id}}/details" class="details">Details</a>
            </div>
        </div>
        {{else}}
        <!-- If there are still no posts in the database display: -->
        <div class="no-posts">
            <p class="no-offer">There are no books aded yet...</p>
        </div>
        {{/each}}
    
    </div>
</section>