<section id="attachCritic">
    <div class="attachCriticSection">
        <h1>Attach New Critic</h1>
        <div class="attach-form">
            <h2>{{book.title}}</h2>
            <img class="book" src={{book.imageUrl}} alt={{book.title}}>
            <form method="post">
                <label for="critic">Critic</label>
                <select id="critic" name="critic">
                    <option value="none" selected>--------</option>

                    {{#each critics}}
                    <option value={{id}}>{{fullName}}</option>
                    {{/each}}

                </select>
                <div>
                    <label for="review">Review:</label>
                    <textarea id="review" class="inputFields review-content" name="review"></textarea>
                </div>
                <div id="center-btn">
                    <button id="create-btn">Add Critic</button>
                </div>
            </form>
        </div>
    </div>
</section>