{{setTitle "Attach Critic"}}

<section id="attachCritic">
    <div class="attachCriticSection">
        <h1>Attach New Critic</h1>
        <div class="attach-form">
            <h2>{{book.title}}</h2>
            <img class="book" src={{book.imageUrl}} alt={{book.title}}>
            {{>error errors.bookId}}
            <form method="post">
                <label for="critic">Critic</label>
                <select id="critic" name="critic">
                    <option value="none" selected>----Select Critic----</option>

                    {{#each critics}}
                    <option value={{id}}>{{fullName}}</option>
                    {{/each}}

                </select>
                {{>error errors.criticId}}
                <div>
                    <label for="review">Review:</label>
                    <textarea id="review" class="inputFields review-content" name="review">{{newData.reviewContent}}</textarea>
                    {{>error errors.reviewContent}}
                </div>
                <div id="center-btn">
                    <button id="create-btn">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</section>