<section id="attachReview">
    <div class="attachReviewSection">
        <h1>Attach New Review</h1>
        <div class="attach-form">
            <h2>{{book.title}}</h2>
            <img class="book" src={{book.imageUrl}} alt={{book.title}}>
            <form action="" method="">
                <label for="review">Review</label>
                <select id="review" name="review">
                    <option value="none" selected>--------</option>

                    {{#each reviews}}
                    <option value={{id}}>{{title}}</option>
                    {{/each}}
                    
                </select>
                <div id="center-btn">
                    <button id="create-btn">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</section>