<section id="create-page">
    <div class="createSection">
        <div class="info">
            <h2>"It is a truth universally acknowledged, that a single man in possession of a good fortune must be in
                want of a wife." -Pride and Prejudice, 1813</h2>
        </div>

        <form method="post" class="createForm">
            <h2>Add Book</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" value="{{newBook.title}}" />
                </li>
                <li>
                    {{>categorySelectOptions}}
                </li>
                <li>
                    <label for="genre">Genre:</label>
                    <input type="text" class="inputFields" id="genre" name="genre" value="{{newBook.genre}}" />
                </li>
                <li>
                    <label for="author">Author:</label>
                    <input type="text" class="inputFields" id="author" name="author" value="{{newBook.author}}" />
                </li>
                <li>
                    <label for="date">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" value="{{newBook.year}}" />
                </li>
                <li>
                    <label for="image">Book Cover:</label>
                    <input type="text" class="inputFields" id="image" name="imageUrl" value="{{newBook.imageUrl}}" />
                </li>
                <li>
                    <label for="rating">Rating:</label>
                    <input type="text" class="inputFields" id="rating" name="rating" value="{{newBook.rating}}" />
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields" name="description">{{newBook.description}}</textarea>
                </li>

                <li id="center-btn">
                    <button id="create-btn">Add Book</button>
                </li>
            </ul>
        </form>


    </div>
</section>