<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>{{book.title}}</h1>
                <div class="card-book">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{book.genre}}</p>
                        <p class="card-director">Author: {{book.author}}</p>
                    </div>
                    <div class="second-info">
                        <p class="card-year">Year: {{book.year}}</p>
                        <p class="card-ranking">Rating: <span id="stars">{{#each stars}}&#x2605;{{/each}}</span></p>
                    </div>

                </div>

                <p class="disc">Description: {{book.description}}</p>
                <p class="card-category">Category: {{book.category}}</p>
            </div>
            <div class="details-btn">
                <button id="edit-button">Edit</button>
                <button id="delete-button">Delete</button>
            </div>
        </div>
        <div class="card_right">
            <img src={{book.imageUrl}} alt={{book.title}}>
        </div>
    </div>

    <div class="main-review-card">
        {{>review}}
        
        <div class="no-review">
            <p>There are no reviews added yet...</p>
        </div>
    </div>

</section>