<div class="critic-card">
    <div class="card-img">
        <img src={{critic.image}} alt={{critic.fullName}}>
    </div>
    <div class="critic-info">
        <h1>{{critic.fullName}}</h1>
        <div>
            <h3>Age:</h3><span>{{critic.age}}</span>
        </div>
        <div>
            <h3>Place of born:</h3><span>{{critic.placeOfBorn}}</span>
        </div>
        <h3>Review:</h3><span>{{review}}</span>
    </div>
</div>