{{setTitle "Create Critic"}}

<section id="create-critic">
    <div class="createReviewSection">
        <div class="info-review">
            <h2>"It is a far, far better thing that I do, than I have ever done." — A Tale of Two Cities,
                1859.</h2>
        </div>

        <form method="post" class="createReviewForm">
            <h2>Add Critic</h2>
            <ul class="noBullet">
                <li>
                    <label for="fullName">Name:</label>
                    <input type="text" class="inputFields" id="fullName" name="fullName" value="{{newCritic.fullName}}" />
                    {{>error errors.fullName}}
                </li>
                <li>
                    <label for="age">Age:</label>
                    <input type="text" class="inputFields" id="age" name="age" value="{{newCritic.age}}" />
                    {{>error errors.age}}
                </li>
                <li>
                    <label for="placeOfBorn">Place of Born:</label>
                    <input type="text" class="inputFields" id="placeOfBorn" name="placeOfBorn" value="{{newCritic.placeOfBorn}}" />
                    {{>error errors.placeOfBorn}}
                </li>
                <li>
                    <label for="image">Image:</label>
                    <input type="text" class="inputFields" id="image" name="image" value="{{newCritic.image}}" />
                    {{>error errors.image}}
                </li>
                <li id="center-btn">
                    <button id="create-btn">Add Critic</button>
                </li>
            </ul>
        </form>

    </div>
</section>