<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{#if pageTitle}}{{pageTitle}}{{else}}Book Worm{{/if}}</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <a href="/" class="logo-wrapper">
                <img src="/img/logo.jpg" alt="logo" class="logo">
            </a>

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/books/search">Search</a></li>
                <li><a href="/about">About</a></li>
                {{!-- User --}}
                {{#if user}}
                <li><a href="/books/create">Add Book</a></li>
                <li><a href="/critics/create">Add Critic</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{!-- Guest --}}
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>

            <span>{{user.email}}</span>

        </nav>


        <main>
            {{#if errors}}
            <div class="error-container">
                <p>{{errors}}</p>
            </div>
            {{/if}}

            {{{body}}}

        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>